<p-card>
  <p-card>
    <span class="p-card-title">Page de connexion</span>
  </p-card>
  <div class="p-card-body">
    <p><em>{{ message }}</em></p>
    <form #loginForm="ngForm">
      <div class="p-field">
        <label for="name">Name</label>
        <input pInputText type="text" id="name" [(ngModel)]="name" name="name" required />
      </div>
      <div class="p-field">
        <label for="password">Password</label>
        <input pInputText type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
    </form>
  </div>
  <div class="p-card-footer p-text-center">
    <button pButton type="button" label="Se connecter" icon="pi pi-check" (click)="login()"
      *ngIf="!auth.isLoggedIn"></button>
    <button pButton type="button" label="Se déconnecter" icon="pi pi-sign-out" (click)="logout()"
      *ngIf="auth.isLoggedIn"></button>
  </div>
</p-card>