.p-card {
    margin: 2rem auto;
  }
  
  .p-card-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }
  
  .p-card-body {
    padding: 1rem;
  }
  
  .p-card-footer {
    padding: 1rem;
  }
  